@{
    ViewData["Title"] = "Relatorios";
}
<br />

<h3> Relatorio de produção de maquinas por data</h3>
<a role="button" class="btn btn-primary" asp-controller="Relatorio" asp-action="MaquinasPorDataReport">Gerar relatorio</a>
<br />
<br />
<br />

<h3> Relatorio de produção de maquinas geral</h3>
<a role="button" class="btn btn-primary" asp-controller="Relatorio" asp-action="MaquinasProducaoGeralReport">Gerar relatorio</a>
<br />
<br />
<br />

<h3> Relatorio de produção de operadores por data</h3>
<a role="button" class="btn btn-primary" asp-controller="Relatorio" asp-action="OperadoresPorDataReport">Gerar relatorio</a>

