@{
    ViewData["Title"] = "Relatorios de Maquinas";
}

<form asp-controller="Relatorio" asp-action="MaquinasProducaoGeralReport">

    <label for="dataInicio">Data Início:</label>
    <input type="date" class="form-control" id="dataInicio" name="dataInicio" required>

    <label for="dataFim">Data Fim:</label>
    <input type="date" class="form-control" id="dataFim" name="dataFim" required>
    <br />
    <button type="submit" class="btn btn-primary">Gerar Relatório</button>
</form>